<h1>Log in</h1>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <%= label_tag "name"%>
    <%= select_tag "user[name]", options_from_collection_for_select(@users, "id", "name")%> <br>
    <%= label_tag "Password"%>
    <%= password_field_tag "user[password]"%> <br>
    <%= submit_tag "Sign In"%>
<% end %>
